# Node modules
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Build
build/
.next/

# Firebase
.firebaserc
firebase-debug.log

# OS
Thumbs.db